<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net471" />
  <package id="LiczbyNaSlowaNET.dll" version="1.0.5" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.18" targetFramework="net471" />
  <package id="RawPrint" version="0.5.0" targetFramework="net471" />
  <package id="Spire.PDF" version="5.10.8" targetFramework="net471" />
  <package id="SSH.NET" version="2020.0.2" targetFramework="net471" />
  <package id="Syncfusion.Compression.Base" version="17.3.0.21" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="17.3.0.21" targetFramework="net471" />
  <package id="Syncfusion.Pdf.WinForms" version="17.3.0.21" targetFramework="net471" />
</packages>